* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body, html {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
header .desktop-menu nav {
  width: 100%;
  flex: 0 0 100%;
}
header .desktop-menu nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .desktop-menu nav ul li a {
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: normal;
  color: #000000;
}
header .mobile-menu-burger {
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .mobile-menu-burger-container {
  cursor: pointer;
}
header .mobile-menu-burger span {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  transition: 0.3s ease;
  position: relative;
}
header .mobile-menu-burger span:nth-child(2) {
  margin: 0.4em 0;
}
header .burger-active span:first-of-type {
  transform: rotate(45deg);
  top: 3px;
}
header .burger-active span:last-of-type {
  transform: rotate(-45deg);
}
header .burger-active span:nth-child(2) {
  opacity: 0;
  display: none;
}
header .container {
  z-index: 6;
  position: relative;
}
header .mobile-header-menu {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  max-width: 300px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 95px;
  transform: translatex(100%);
  transition: transform 0.3s;
  width: 100%;
  z-index: 500;
}
header .mobile-header-menu.mobile-header-menu-active {
  opacity: 1;
  margin-top: 20px;
  pointer-events: all;
  transform: translateY(0) translateZ(0) scale(1, 1);
}
header .mobile-header-menu ul {
  padding: 0;
  margin: 0;
}
header .mobile-header-menu ul > li > a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #56688E;
  padding: 10px 25px;
  display: block;
  font-size: 18px;
  line-height: 1.1em;
}

.main {
  padding: 100px 0;
}
.main-table {
  background-color: #EFF2FF;
  padding: 40px;
  border-radius: 6px;
}
.main-table-kayit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 0;
}
.main-table-kayit a {
  display: block;
  background-color: #744BFC;
  padding: 12px 20px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
}
.main-table-kayit a img {
  width: 21px;
  height: 21px;
  vertical-align: sub;
}
.main-table-kayit form {
  max-width: 280px;
  width: 100%;
  position: relative;
}
.main-table-kayit form input {
  background-color: white;
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  width: 100%;
  outline: none;
}

.form-image {
  background-color: #744BFC;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: flex;
  align-items: center;
  z-index: 99;
}
.form form {
  position: relative;
  background: #fff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 13px;
}
.form form label {
  display: block;
}
.form form input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  margin: 10px 0;
  outline: none;
  border: 1px solid #D9D9D9;
}
.form-button {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 43px;
}
.form-button button {
  padding: 8px 14px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 14px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  cursor: pointer;
}

.give-up {
  color: #744BFC;
  background-color: #F5F7FF;
}

.save {
  background-color: #744BFC;
  color: #fff;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

tr {
  text-align: left !important;
}

.social {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.dataTables_filter {
  display: none !important;
}/*# sourceMappingURL=style.css.map */